Source: erlang-p1-sqlite3
Priority: optional
Maintainer: Mathias Ertl <mati@jabber.at>
Build-Depends: debhelper (>= 9), dh-rebar, rebar (>= 2.6.0), erlang-base, erlang-crypto, erlang-eunit, erlang-syntax-tools, libsqlite3-dev
Standards-Version: 4.0.0
Section: libs
Homepage: https://github.com/processone/erlang-sqlite3
VCS-Git: https://github.com/jabber-at/erlang-sqlite3.git
VCS-Browser: https://github.com/jabber-at/erlang-sqlite3

Package: erlang-p1-sqlite3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, erlang-base | ${erlang-abi:Depends},
         ${erlang:Depends}
Breaks: erlang-sqlite3
Replaces: erlang-sqlite3
Description: SQLite3 wrapper for Erlang applications
 This is an SQLite3 library for Erlang. It is designed to make it easy
 to write Erlang applications that use SQLite3.
 ejabberd for example uses it as its sqlite driver.
